{% extends 'base.html' %}

{% block page-header %}Sign up{% endblock %}
{% block content %}
<div class="container-xxl" style="padding-top: 150px; padding-left: 200px">
    <form method="post">
        {% csrf_token %}
        {% for f in form %}
            <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
            <div class="form-error">{{ f.errors }}</div>
        {% endfor %}
        <button type="submit">Sign up</button>
    </form>
</div>
{% endblock %}


