{% extends 'base.html' %}

{% block page-header %}New post{% endblock %}
{% block content %}
    <div class="container-xxl">
    {% if user.is_authenticated %}
        <form action="{% url 'post_new' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-error">{{ form.non_field_errors }}</div>
            {% for f in form %}
            <p class="form-label"><label class="form-label" for="{{ f.id_for_title }}">{{ f.label }}: </label>{{ f }}</p>
            <div class="form-error">{{ f.errors }}</div>
            {% endfor %}
            <input type="submit" value="Save" />
        </form>
    {% else %}
        <h1 class="page-header" style="margin-top: 300px; margin-left: 300px" id="main-style">First you have to log in!</h1>
    {% endif %}
    </div>
{% endblock %}