@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

header {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 15px;
}

.navbar-expand-lg {
    background-color: lavender;
    font-family: 'Playfair Display', serif;
}

.container-xxl {
    padding-top: 10px;
    padding-bottom: 10px;
}

#main-letter {
    font-size: 35px;
}

.main-name {
    font-size: 30px;
}

.navbar-nav a {
    font-size: 25px;
    padding-top: 15px;
}

#main-style {
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    white-space: normal;
}

#main-btn {
    margin-top: 6px !important;
}

.form-input {
    font-family: 'Playfair Display', serif;

    font-size: 16px;
}

.form-label {
    font-family: 'Playfair Display', serif;
    min-width: 150px;
    vertical-align: top;
    font-size: 20px;
}

.form-text {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
}

.categories {
    color: #F90B6D;
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    line-height: 40px;
}

.category {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    position: relative;
    margin-left: 10px;
    font-style: oblique;
}

.list-group {
    scrollbar-width: none;
    max-height: 300px;
    max-width: 400px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}

.list-group-item {
    color: #F90B6D !important;
    background-color: lavender !important;
}

.list-group-item:hover {
    border-width: 2px;
    border-color: #F90B6D;
    background-color: lightsteelblue !important;
}

.title {
   color: black;
   font-family: 'Playfair Display', serif;
   font-size: 30px;
   font-weight: 300;
   line-height: 40px;
   margin: 10px 0px 10px 1px;
   transition: 0.5s linear;
}

.title:hover {
   color: black;
}

.home-blogs {
    font-family: 'Playfair Display', serif;
    font-size: 25px;
}

.edit-del {
    color: black;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    text-decoration: none;
    transition: 0.5s linear;
}

.edit-del:hover {
    color: black;
}

.detail-btn {
    margin-top: 40px;
}

