{% extends "base.html" %}

{% block page-header %}Home{% endblock %}
{% block content %}
    <aside style="position: absolute; right: 350px; padding: 10px;">
        <h2 class="categories">Categories:</h2>
            <ul class="list-group">
                {% for category in all_categories %}
                    <a href="{% url 'posts_by_category' category.title %}" class="list-group-item list-group-item-action">
                        <i class="fas fa-link"></i>
                        {{ category }}
                    </a>
                {% empty %}
                     <p class="category">- No categories</p>
                {% endfor %}
            </ul>
    </aside>
    {% for post in page_obj %}
        <div class="post-entry" onclick="location.href='{% url 'post_detail' post.pk %}';">
            <h2 class="title">
                <a href="{% url 'post_detail' post.pk %}" class="title">{{ post.title }}</a>
                <span>
                    {% if user.is_authenticated and user.pk == post.author.id %}
                        <a href='{% url "post_edit" post.pk %}'><i class="fas fa-edit"></i></a>
                        <a href='{% url "post_delete" post.pk %}'><i class="fas fa-trash-alt"></i></a>
                    {% endif %}
                </span>
            </h2>
            <p>{{ post.body|truncatechars:255 }}</p>
            <h3 class="author"><span>-by</span> {{ post.author.username }}</h3>
        </div>
    {% endfor %}

<nav class="my-paginator" aria-label="">
    <ul class="pagination my-primary">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="bg-dark border-dark paginator-block page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="bg-dark border-dark page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
        {% endif %}
            <li class="page-item active" aria-current="page">
                <a class="paginator-block border-dark page-link" href="#">{{ page_obj.number }}</a>
            </li>
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="bg-dark border-dark paginator-block page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="bg-dark border-dark page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
            </li>
        {% endif %}
    </ul>
</nav>

{% endblock %}