{% extends 'base.html' %}

{% block page-header %}Post detail{% endblock %}
{% block content %}
<div class="container-xxl">
    <aside style="position: absolute; left: 550px; padding-top: 30px; padding-right: 250px;">
        <div>
            <h2 class="title">{{ under_vision_blog.title }}</h2>
            {% if under_vision_blog.photo %}
                <p><img src="{{ under_vision_blog.photo.url}}"></p>
            {% endif %}
            <h3 class="home-blogs">{{ under_vision_blog.content }}</h3>
            <h3 class="home-blogs"><span>Created </span>{{ under_vision_blog.time_create }}</h3>
            <h3 class="home-blogs"><span>Last update </span>{{ under_vision_blog.time_update }}</h3>
        </div>

        {% if user.is_authenticated %}
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-error">{{ form.non_field_errors }}</div>
            {% for f in form %}
            <p><label class="form-label" for="{{ f.id_for_title }}">{{ f.label }}: </label>{{ f }}</p>
            <div class="form-error">{{ f.errors }}</div>
            {% endfor %}
            <input id="main-btn" class="btn btn-outline-success me-2" type="submit" value="Comment" />
        </form>
        {% endif %}

        {% for comment in comments %}
            <hr style="color: #F90B6D; height: 2px; background-color: #F90B6D;">
            <h2 id="main-style">{{ comment.author.username }}</h2>
            <h3 style="margin-bottom: 20px;" class="home-blogs">
                {{ comment.content }}
                <span class="home-blogs" style="position: absolute; right: 260px;">{{ comment.time_create }}</span></h3>
            <h3 ></h3>
         {% empty %}
            <p class="home-blogs">Be the first!</p>
        {% endfor %}

    </aside>
    <aside style="position: relative; right: 70px; padding-top: 30px; width: 20%;">
        <h2 class="categories">Categories:</h2>
            <ul class="list-group">
                {% for category in under_vision_blog.categories.all %}
                    <a href="{% url 'posts_by_category' category.title %}" class="list-group-item list-group-item-action">
                        <i class="fas fa-link"></i>
                        {{ category }}
                    </a>
                {% empty %}
                     <p class="category">- No categories</p>
                {% endfor %}
            </ul>
    </aside>
    {% if user.is_authenticated and user.pk == under_vision_blog.author.id %}
    <p class="detail-btn">
        <a href='{% url "post_edit" under_vision_blog.pk %}' class="btn btn-outline-primary" style="position: relative; left: -70px;">
            <i class="fas fa-edit"></i>
            Edit Blog Post
        </a>
        <a href="{% url 'post_delete' under_vision_blog.pk %}" class="btn btn-outline-danger" style="position: relative; left: -55px;">
            <i class="fas fa-trash-alt"></i>
            Delete Post
        </a>
    </p>
    {% endif %}
</div>
{% endblock %}